@media screen and (max-width:1248px) {
    header{
        height: fit-content;
    }
    header h1 {
        font-size: 2rem;
    }

    #about .border {
        width: 35%;
    }

    #about .cards {
        gap: 25px;
    }

    #about .cards .card {
        font-size: 14px;
    }

    #about .cards .card .border {
        width: 90%;
    }

    #features .border,
    #help .border,
    #final .upper .border {
        width: 35%;
    }
}

@media screen and (max-width:980px) {
    header {
        padding: 25px 80px;
    }

    header h1 {
        font-size: 1.7rem;
        width: 40%;
    }

    button {
        padding: 5px;
    }

    #about .border,
    #features .border,
    #help .border,
    #final .upper .border {
        width: 30%;
    }

    #about h2,
    #features h2,
    #help h2,
    #final .upper h2 {
        font-size: 1.5rem;
    }

    #about {
        padding: 40px 70px;
    }

    #about .cards .card {
        font-size: 13px;
        padding: 10px;
    }

    #features {
        padding: 40px 65px;
    }

    #features .features {
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    }

    #features .feature {
        padding: 10px;
    }

    #features .feature p {
        font-size: 10px;
    }

    #features .feature h4 {
        font-size: 11px;
        gap: 5px;
    }

    #features .feature h4 span {
        font-size: 12px;
    }

    #help .help p {
        font-size: 11px;
    }

    #final .upper p {
        font-size: 14px;
    }

    #final .upper .rating {
        margin-bottom: 5px;
    }

    #final .upper .rating span {
        font-size: 16px;
    }

    #final .upper .review {
        width: 60%;
    }

    #final .lower button {
        left: 40%;
        right: 40%;
        top: 58%;
        padding: 5px;
        font-size: 12px;
    }

    #final .lower h2 {
        font-size: 1.1rem;
        padding: 10px;
    }
}

@media screen and (max-width:744px) {
    header h1 {
        font-size: 1.5rem;
        width: 50%;
    }

    #about,
    #features {
        padding: 40px;
    }

    #about .cards {
        gap: 10px;
    }

    #features .features {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        gap: 15px;
    }

    #features .features .feature h4 {
        font-size: 10px;
    }

    #help .help p {
        font-size: 9px;
        padding: 5px;
    }

    #help .help p span {
        margin-left: -5px;
        margin-right: 10px;
    }

    #final .upper .review {
        width: 75%;
    }

    #final .lower h2 {
        font-size: 1rem;
        padding: 10px;
    }

    #final .lower button {
        left: 35%;
        right: 35%;
        top: 55%;
    }
}

@media screen and (max-width:620px) {
    header h1 {
        font-size: 1.3rem;
    }

    #about h2,
    #features h2,
    #help h2,
    #final .upper h2 {
        font-size: 1.1rem;
    }

    #about {
        padding: 40px 20px;
    }

    #about .cards .card {
        font-size: 9px;
        width: 150px;
        padding: 7px;
    }

    #final .upper p {
        font-size: 11px;
    }

    #help {
        padding: 40px 20px;
    }

    #help .help {
        gap: 0px;
    }

    #final .upper .rating span {
        font-size: 12px;
    }

    #final .upper .review {
        width: 60%;
        padding: 10px;
    }

    #final .upper .rating {
        margin-left: 0px;
    }

    #final .lower .heading h2 {
        font-size: .5rem;
    }

    #final .lower button {
        left: 38%;
        right: 38%;
        font-size: 8px;
        font-weight: 500;
    }
}

@media screen and (max-width:475px) {
    header {
        padding: 15px 35px;
    }

    header h1 {
        width: 70%;
    }

    header p {
        font-size: 12px;
    }
    .heading{
        gap: 0px;
        margin-bottom: 20px;
    }

    button {
        font-size: 10px;
        margin: 10px 5px;
    }

    #about h2,
    #features h2,
    #help h2,
    #final .upper h2 {
        font-size: .7rem;
    }
    #about,
    #features{
        padding: 20px;
    }
    #help{
        padding: 20px 5px;
    }
    #about .cards{
        gap: 5px;
    }
    #about .cards .card{
        font-size: 7px;
        padding: 5px;
    }
    #about .cards .card .material-symbols-outlined{
        font-size: 18px;
        width: 25px;
        height: 25px;
        margin: -15px auto 3px;
    }

    #features .features {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }
    #help .material-symbols-outlined{
        font-size: 16px;
    }
    #help .help p{
        font-size: 7px;
    }
    #help .help p span {
        margin-left: -5px;
        margin-right: 5px;
    }
    #final .upper .review{
        width: 80%;
    }
    #final .upper .review p{
font-size: 10px;
    }
        #final .lower .heading h2 {
        font-size: .6rem;
    }
      #final .lower button {
        left: 35%;
        right: 35%;
        top: 50%;
        font-size: 8px;
        font-weight: 500;
    }
    #form{
        padding: 10px;
    }
    #form input{
        padding: 5px;
    }

}
